@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

nav span {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  opacity: 0.6;
  font-size: 13px;
  text-transform: uppercase;
}

.nav-social-div svg {
  width: 26px;
  margin: 0px 5px;
}
.nav-social-div span {
  margin: 0px 5px;
}
.nav-social-div button {
  margin: 0px 5px;
}
